.content { 
	padding-top: 0;
	margin-left: 0;
	margin-right: 0;
}

p {
	text-align: justify;
}

.sidebar {
	display: none; 
	width: 0;
}


hr {
	page-break-after: always;
}

p, ul {
	orphans: 4;
	widows: 4;
}



@page {
        margin-top: 149px;
        margin-left: 2px;
        margin-bottom: 40px;
        margin-right: 2px;
        size: landscape;
        counter-increment: page;

     @bottom-right {
	padding-right:20px;
        content: "Page " counter(page);
      }

    @bottom-left {
    margin: 10pt 0 30pt 0;
    border-top: .25pt solid #666;
    content: "My book";
    font-size: 9pt;
    color: #333;
  }

}


