<script>
function myFunction(id) {
    var y = document.getElementsByClassName("w3-show")[0];
    if (y && y.className.indexOf("w3-show") != -1){
        y.className = y.className.replace(" w3-show", "");
    }    

    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
	x.className += " w3-show";
    } else {
	x.className = x.className.replace(" w3-show", "");
    }
}
</script>


<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.github.url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>




    <nav class="sidebar-nav">






	
      <a class="sidebar-nav-item{% if page.url ==  site.github.url %} active{% endif %}" href="{{ site.github.url }}">Accueil</a>
	<div><div>
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}



      {% assign pages_list = site.pages | sort : 'url' %}

      {% assign previous_parent = "" %}




      {% assign active_page_parts = page.url | split: '/' %}

      {% assign active_level = active_page_parts | size %}

      {% assign active_index = active_level | minus: 2 %}

      {% assign active_parent = active_page_parts[active_index] %}




      {% for node in pages_list %}


        {% assign url_parts = node.url | split: '/' %}

        {% assign level = url_parts | size %}

        {% assign index = level | minus: 2 %}

        {% assign parent = url_parts[index] %}

        {% if node.layout == "page" %}
          {% if parent != previous_parent %}
	    </span>
            </span>
	    <br/>
		<span class="w3-accordion">
		<span class="sidebar-subtitle" onclick="myFunction('{{parent}}')">
		
            {% case parent %}
		
              {% when 'current' %}
                 Editeurs en cours
              {% when 'rejected' %}
                 Editeurs rejetés
              {% when 'input' %}
                 Métadonnées entrantes
	      {% when 'general' %}
                 Général
	      {% when 'quality_control' %}
                 Analyse qualité
              {% when 'meetings' %}
                 Réunions
              {% when 'output' %}
                 Exposition des métadonnées
              {% when 'tools' %}
                 Outils
              {% when 'similar_projects' %}
                 Projets similaires
              {% else %}
                 {{ parent }}
            {% endcase %}
		</span><br/>
		<span id="{{parent}}" class="w3-accordion-content{% if parent == active_parent %} w3-show{% endif %}">
          {% endif %}
        {% endif %}


       {% assign previous_parent = parent %}

        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.github.url }}{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}


    <p> </p>
    <p>Powered by <a href="http://jekyllrb.com/">Jekyll</a> with a <a href="http://hyde.getpoole.com/">Hyde</a> theme.</p>

    </nav>
  </div>
</div>
